@import url('../static/fonts.css'); 

body {
    background-color: #0b0b0b;
}

.container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding-right: 17px; 
    box-sizing: content-box;
}

.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start; 

}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-container h1{
    font-family: Minecraftia;
    font-size: 120px;
    color: #ebcb8b;
    letter-spacing: 10px;
    cursor: default;
    margin-top: 5%;
}

.founder-text {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.founder-text h3{
    font-family: Ginger;
    font-size: 30px;
    color: #e4e4e4;
    cursor: default;
    margin-left: 24.5%;
}

.founder-text h1{
    font-family: Ginger;
    font-size: 40px;
    color: #e4e4e4;
    cursor: default;
    margin-top: 5%;
    transition: transform 0.6s ease;
}


.founder-text h1:hover{
    transform: scale(1.1);
}

.foundme {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 250%;
    margin-top: -60%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.8s;
}

.foundme h3{
    font-size: 16px;
}

.me {
    position: absolute;
    top: 0;
    opacity: 0;
    right: 270%;
    margin-top: 20%;
    margin-left: 10px;
    transition: all 0.8s ease-in-out;
    transition-delay: 0.3s;
}

.laser-container{
    position: relative;
    height: 2px;
}

.laser1 {
    position: absolute;
    top: 50%;
    left: -200%;
    opacity: 0;
    height: 100%;
    width: 0%;
    background-color: #09c9ff;
    animation: grow 0.5s ease-out forwards;;
    transition: all 1.5s ease;
    transform-origin: left;
    z-index: -1;
}

.laser2 {
    position: absolute;
    top: 50%;
    left: -200%;
    opacity: 0;
    height: 100%;
    width: 0%;
    background-color: #ff2b2b;
    animation: grow 0.5s ease-out forwards;;
    transition: all 3s ease;
    transform-origin: left;
    z-index: -1;
}

.laser3 {
    position: absolute;
    top: 50%;
    left: -200%;
    opacity: 0;
    height: 100%;
    width: 0%;
    background-color: #8fff09;
    animation: grow 0.5s ease-out forwards;;
    transition: all 2s ease;
    transform-origin: left;
    z-index: -1;
}

.founder-text:hover .foundme{
    opacity: 1;
}

.founder-text:hover .me{
    opacity: 1;
    transform: rotate(-7deg);
}

.founder-text:hover .laser1 {
    opacity: 1;
    transform: rotate(-10deg);
    width: 450%;
}

.founder-text:hover .laser2 {
    opacity: 1;
    transform: rotate(-12deg);
    width: 450%;
}

.founder-text:hover .laser3 {
    opacity: 1;
    transform: rotate(-8deg);
    width: 450%;
}


.about-me{
    font-family: Ginger;
    font-size: 32px;
    color: #e4e4e4;
    cursor: default;
}


.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    animation: scroll-down 1.5s ease infinite;
}
  

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(20deg);
    -webkit-transform: rotate(45deg);
}


.hidden {
    display: none;
}

  
@keyframes scroll-down {
0% {
    transform: translateY(0);
    opacity: 1;
}
100% {
    transform: translateY(10px);
    opacity: 0;
}
}