@import url('../static/fonts.css'); 

body {
    background-color: #0b0b0b;
}

.container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding-right: 17px; 
    box-sizing: content-box;
}

.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start; 

}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-container h1{
    font-family: Minecraftia;
    font-size: 120px;
    color: #ebcb8b;
    letter-spacing: 10px;
    cursor: default;
    margin-top: -10%;
}

.founder-text {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -17.5%;
}

.founder-text h3{
    font-family: Ginger;
    font-size: 30px;
    color: #e4e4e4;
    cursor: default;
    margin-left: 24.5%;
}

.founder-text h1{
    font-family: Ginger;
    font-size: 40px;
    color: #e4e4e4;
    cursor: default;
    margin-top: 5%;
    transition: transform 0.6s ease;
}


.founder-text h1:hover{
    transform: scale(1.1);
}

.foundme {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 250%;
    margin-top: -60%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.8s;
}

.foundme h3{
    font-size: 16px;
}


.me {
    position: absolute;
    top: 0;
    opacity: 0;
    right: 270%;
    margin-top: 20%;
    margin-left: 10px;
    transition: all 0.8s ease-in-out;
    transition-delay: 0.3s;
}


.founder-text:hover .foundme{
    opacity: 1;
}

.founder-text:hover .me{
    opacity: 1;
    transform: rotate(-7deg);
}


.about-me{
    font-family: Ginger;
    font-size: 32px;
    color: #e4e4e4;
    cursor: default;
    margin-top: -15%;
}


.about-ennui{
    font-family: Ginger;
    font-size: 28px;
    color: #e4e4e4;
    cursor: default;
    margin-top: -15%;
    width: 70%;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    animation: scroll-down 1.5s ease infinite;
  }
  
.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(20deg);
    -webkit-transform: rotate(45deg);
}

  
@keyframes scroll-down {
0% {
    transform: translateY(0);
    opacity: 1;
}
100% {
    transform: translateY(10px);
    opacity: 0;
}
}