*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
}
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

#navbar-logo {
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

#navbar-logo:hover {
    transform: rotate(-45deg);
}

header {
    background-color: #0b0b0b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 5%;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4.5%;
    flex: 1;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
}

.navbar-center a{
    font-family: Ginger;
    color: #e4e4e4;
    text-decoration: none;
    transition: all .5s ease-in-out;
    padding: 0 30px;
    font-size: 14px;
}

.navbar-right a{
    font-family: Ginger;
    color: #e4e4e4;
    text-decoration: none;
    transition: all .5s ease-in-out;
    padding: 0 20px;
    font-size: 14px;
}

.navbar-center a:hover, .navbar-right a:hover {
    color: #a37ff7;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav-menu a{
    display: none;
}

.nav-menu.slide-down {
    transform: translateY(0%);
}

.bar {
    display: block;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar-right, .navbar-center{
        display: none;
    }

    header{
        background-color: #0b0b0b;
        z-index: 99;
        height: 70px;
    }

    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #0b0b0b;
        width: 100%;
        font-size: 20px;
        text-align: left;
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu a {
        display: flex;
        color: #e4e4e4;
        text-decoration: none;
        transition: all .5s ease-in-out;
        padding: 10px;
        margin-left: 10px;
    }

    .nav-menu a:hover {
        color: #a37ff7;
    }

    @media only screen and (max-width: 600px) {
        .navbar-center.active{
            left: 37.5%;
        }
    }

    @media only screen and (max-width: 400px) {
        .navbar-center.active{
            left: 33.5%;
        }
    }
    
    @media only screen and (max-width: 300px) {
        .navbar-center.active{
            left: 32.5%;
        }
    }
}