*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
}
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

#navbar-logo {
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

#navbar-logo:hover {
    transform: rotate(-45deg);
}

header {
    background-color: #0b0b0b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 5%;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4.5%;
    flex: 1;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
}

#hide-ham{
    display: none;
}

.navbar-center a{
    font-family: Ginger;
    color: #e4e4e4;
    text-decoration: none;
    transition: all .5s ease-in-out;
    padding: 0 30px;
    font-size: 14px;
}

.navbar-right a{
    font-family: Ginger;
    color: #e4e4e4;
    text-decoration: none;
    transition: all .5s ease-in-out;
    padding: 0 20px;
    font-size: 14px;
}

.navbar-center a:hover, .navbar-right a:hover {
    color: #a37ff7;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }   

    .navbar-center{
        position: fixed;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 0;
        left: 100%;
        top: 12%;
        width: 100%;
        transition: 0.2s;
    }

    #hide-ham{
        display: flex;
    }

    .navbar-right{
        display: none;
    }

    .navbar-center {
        margin-left: 0;
    }

    .navbar-center a{
        margin: 8px 0;
    }

    .navbar-center.active{
        left: 42%;
    }
}